---
import Layout from '@components/common/Layout.astro';
import { PopulationGraph } from '@components/feature/graph/PopulationGraph';
import PrefecturesOptions from '@components/feature/prefectures/PrefecturesOptions.astro';
---

<Layout>
  <section>
    <h1 class="text-xl">都道府県の選択</h1>
    <p>選択した都道府県の総人口の推移がグラフで表示されます。</p>
    <PrefecturesOptions />
  </section>
  <section class="mt-6">
    <h1 class="text-xl">総人口の推移グラフ</h1>
    <PopulationGraph client:only />
  </section>
</Layout>
