---
const today = new Date();
---

<footer class="text-whitetext-center bg-gray-700 p-2">
	<small class="text-white block text-center">&copy; {today.getFullYear()} このサイトは<a class="text-white underline hover:hover:no-underline" href="https://astro.build/">フロントエンドコーディング試験</a>の内容をAstroで作成したものです。</small>
</footer>
